{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{% static 'css/demo.css' %}">
    <link rel="stylesheet" href="{% static 'css/timetablejs.css' %}">
    <link rel="stylesheet" href="{% static 'js/timetable.js' %}">
    <title>tytuł</title>
</head>
<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand"
          {% if request.user.user_type == "Teacher" %}
            href="{% url 'teacher_subjects' %}"
          {% else %}
            href="{% url 'home' %}"
          {% endif %}
          >
            <i class="fa-solid fa-graduation-cap fa-lg"></i> Student Managment System
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">

              {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'logout' %}">
                    <i class="fa-solid fa-plus fa-lg"></i> Wyloguj się
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'profile' %}">
                    <i class="fa-solid fa-plus fa-lg"></i> Moje informacje
                  </a>
                </li>

                {% if request.user.teacher %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'teacher_subjects' %}">
                    <i class="fa-solid fa-plus fa-lg"></i> Moje zajęcia
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'messages_view' %}">
                    <i class="fa-solid fa-plus fa-lg"></i> Wiadomości
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'my_class_view' %}">
                    <i class="fa-solid fa-plus fa-lg"></i> Moja klasa
                  </a>
                </li>
                {% comment %} <li class="nav-item">
                  <a class="nav-link" href="{% url 'teacher_subjects' %}">
                    <i class="fa-solid fa-plus fa-lg"></i> statystyki
                  </a>
                </li> {% endcomment %}
                {% endif %}

                {% if request.user.parent %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'charges' %}">
                    <i class="fa-solid fa-plus fa-lg"></i> Podopieczni
                  </a>
                </li>
                {% endif %}

                {% if request.user.student and request.user.student.class_id.id %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'school_schedule' %}">
                    <i class="fa-solid fa-plus fa-lg"></i> Plan zajęć
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'student_grades' id=request.user.student.id %}">
                    <i class="fa-solid fa-plus fa-lg"></i> Moje oceny
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'student_attendance' id=request.user.student.id %}">
                    <i class="fa-solid fa-plus fa-lg"></i> Moja frekwencja
                  </a>
                </li>
                {% endif %}
                
                {% if request.user.staff %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'manage_school' %}">
                    <i class="fa-solid fa-plus fa-lg"></i> Zarządzaj szkołą
                  </a>
                </li>
                {% endif %}

                {% if request.user.admin %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'create' %}">
                    <i class="fa-solid fa-plus fa-lg"></i> Dodaj kogoś
                  </a>
                </li>
                {% endif %}
                jesteś zalogowany jako: {{ request.user.first_name }} {{ request.user.last_name }} : 
                {% if request.user.admin %}
                  Admin
                {% endif %}
                {% if request.user.staff %}
                  Dyrektor
                {% endif %}
                {% if request.user.teacher %}
                  Nauczyciel
                {% endif %}
                {% if request.user.parent %}
                  Rodzic
                {% endif %}
                {% if request.user.student %}
                  Uczeń
                {% endif %}
              {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'login' %}">
                    <i class="fa-solid fa-plus fa-lg"></i> Zaloguj się
                  </a>
                </li>
              {% endif %}
          </div>
        </div>
      </nav>
    <div class="container-fluid">
      {% block body %}
      {% endblock %}
    </div>
    <footer class="mt-auto mb-4">
      <div class="text-center">
        <span>
          footer
        </span>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    
</body>
</html>